<div class="products-horizontal">
  <div class="product-card" *ngFor="let product of products">
    <img [src]="product.imageUrl" [alt]="product.name" class="product-image" />
    <div>
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <p class="price">\${{ product.price }}</p>
      <p>Quantity available: {{ product.stockQuantity }}</p>
      <label>
        Qty
        <input type="number" min="1" [max]="product.stockQuantity" [(ngModel)]="product.quantity" />
      </label>
      <button class="btn btn-primary" (click)="addToCart(product, product.quantity || 1)" [disabled]="product.stockQuantity === 0 || (product.quantity && product.quantity > product.stockQuantity)">Add to Cart</button>
      <a [routerLink]="['/products', product.id]" class="btn btn-secondary">View Details</a>
    </div>
  </div>
</div>
